form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-header {
    justify-content: center;
    position: relative;
}

.modal-header .btn-close {
    position: absolute;
    right: 1rem;
}

.contenedor-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.error {
    margin-top: 2px;
    display: flex;
    align-self: flex-start;
    max-width: 12rem;
}

/*Para inciar sesion unicamente*/
.contenedor-input input[type="checkbox"] {
    max-width: 1rem; 
    max-height: 1rem; 
}

#modalRegistrar input, #modalRegistrar select, #modalIniciarSesion input, #modalIniciarSesion select {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1rem;
    width: 12rem; 
    height: 2.5rem; 
}

.btn-autenticar {
    margin-block: 1rem;
    background-color: black;
    color: white;
}

.btn-autenticar:hover {
    background-color: rgba(0, 0, 0, 0.863);
    transition: ease-in-out;
}

/* Para el modo de alto contraste */

body.alto-contraste .modal-content {
    background-color: #000000;
    color: #ffffff; 
    border: 2px solid #ffffff; 
}

body.alto-contraste #modalRegistrar input, body.alto-contraste #modalRegistrar select,
body.alto-contraste #modalIniciarSesion input, body.alto-contraste #modalIniciarSesion select{
    background-color: #000000; 
    color: #ffffff; 
    border: 2px solid #ffffff;
}


body.alto-contraste input::placeholder {
    color: #ffffff; 
    opacity: 1; 
}

body.alto-contraste .btn-autenticar {
    background-color: #ffffff; 
    color: #000000; 
    border: 2px solid #ffffff; 
}

body.alto-contraste .btn-autenticar:hover {
    background-color: #cccccc; 
    color: #000000;
}

body.alto-contraste .btn-close {
    filter: invert(1); 
}

body.alto-contraste .error {
    color: #ffcc00; 
}
