/* Oculta todo hasta que se apliquen las preferencias */
body {
    visibility: hidden;
}

/* Mostrar body cuando las preferencias se hayan aplicado */
body.mostrar {
    visibility: visible;
}

/* Estilos generales */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

body.alto-contraste {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

/*--------*/

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

table, th, td {
    border: 1px solid black;
}

body.alto-contraste legend,
body.alto-contraste #vehiculos label,
body.alto-contraste #concesionarios label,
body.alto-contraste #usuarios label,
body.alto-contraste #reserva label {
    color: #000000;
}