caption {
    caption-side: top;
    font-weight: bold;
}

#filtro, input {
  width: 100%;
  min-width: 180px;
  max-width: 300px;
}

.fit {
  align-items: center;
  justify-content: center;
  width: 200px;
}

.fit a {
  margin: 0.25rem;
}

#filtroVehiculos {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#filtroVehiculos div {
  display: flex;
  flex-direction: column;
}

#filtroVehiculos input, #filtroVehiculos select {
    font-size: 16px;
    padding: 4px;
    border: 0.12px solid black;
    border-radius: 6px;
    height: 28px;
    min-width: 140px;
    max-width: 240px;
    width: 150px;
}
